# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform plan files
*.tfplan

# Python
__pycache__/
*.pyc
_int_.py
*.py

# VS Code
.vscode/

# macOS
.DS_Store

.venv/

# Generated AI review
ai-review-output.md

.env